<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="connect.js" defer></script>
    <title>SuperCrew</title>
    <script>
        const ROOM_ID = "<%= data %>"
    </script>
</head>


<body>
    <div>
        <%= data %>
    </div>
</body>

</html>